<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="magecat_label_listing_data_source" xsi:type="string">
                    Magecat\Label\Model\ResourceModel\Label\Grid\Collection
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magecat\Label\Model\ResourceModel\Label\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">magecat_label</argument>
            <argument name="eventPrefix" xsi:type="string">magecat_label_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">label_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Magecat\Label\Model\ResourceModel\Label</argument>
        </arguments>
    </type>
</config>
